<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MvcReportViewer" type="MvcReportViewer.Configuration.MvcReportViewerSettings, MvcReportViewer" />
  </configSections>
  <MvcReportViewer reportServerUrl="http://pacehomepagedb.cloudapp.net/ReportServer" username="PHARMAACE\pace#user_ddas" password="p@ceh0mep@ge786" aspxViewer="~/MvcReportViewer.aspx" aspxViewerJavaScript="~/Scripts/MvcReportViewer.js" errorPage="~/MvcReportViewerErrorPage.html" showErrorPage="false" isAzureSSRS="false" encryptParameters="true" />
  <!--<MvcReportViewer reportServerUrl="http://192.168.1.15/ReportServer_MSSQLSERVER2016" username="DatabaseServer\administrator" password="admin@123" aspxViewer="~/MvcReportViewer.aspx" aspxViewerJavaScript="~/Scripts/MvcReportViewer.js" errorPage="~/MvcReportViewerErrorPage.html" showErrorPage="false" isAzureSSRS="false" encryptParameters="true" />-->
  <connectionStrings>
    <!--<add name="KM.DAL.Properties.Settings.KNL_InlineConnectionString" connectionString="Data Source=pacehomepagedb.cloudapp.net,1433;Initial Catalog=PACE_MASTER;Persist Security Info=True;User ID=sa;Password=p@ceh0mep@ge786" providerName="System.Data.SqlClient" />-->
    <!--<add name="KM.DAL.Properties.Settings.KNL_InlineConnectionString" connectionString="Data Source=sea1-dc.cloudapp.net,1433;Initial Catalog=PharmaAceWebPortal;Persist Security Info=True;User ID=sa;Password=__Imagination12" providerName="System.Data.SqlClient" />-->
    <!--<add name="KM.DAL.Properties.Settings.KNL_InlineConnectionString"
         connectionString="Data Source=sea1-dc.cloudapp.net,1433;Initial Catalog=PharmaAceWebPortal;Persist Security Info=True;User ID=sa;Password=__Imagination12"
         providerName="System.Data.SqlClient" />-->
    <add name="KM.DAL.Properties.Settings.BDL_ConnectionString" connectionString="Data Source=sea1-dc.cloudapp.net,1433;Initial Catalog=BD&amp;L;Persist Security Info=True;User ID=sa;Password=__Imagination12" providerName="System.Data.SqlClient" />
    <!--<add name="PaceMasterConnectionString" connectionString="Data Source=192.168.1.15;Initial Catalog=PACEMASTER;Persist Security Info=True;User ID=sa;Password=admin@123;Connect Timeout=25; pooling=true; Max Pool Size=500; Min Pool Size=1" providerName="System.Data.SqlClient" />-->
    <!--<add name="PaceMasterConnectionString" connectionString="Data Source=sea1-dc.cloudapp.net,1433;Initial Catalog=PACE_MASTER;Persist Security Info=True;User ID=sa;Password=__Imagination12"
       providerName="System.Data.SqlClient" />-->
    <add name="PaceMasterConnectionString" connectionString="Data Source=pacehomepagedb.cloudapp.net,1433;Initial Catalog=PACEMASTER;Persist Security Info=True;User ID=sa;Password=p@ceh0mep@ge786;Connect Timeout=25; pooling=true; Max Pool Size=500; Min Pool Size=1" providerName="System.Data.SqlClient" />
    <add name="TenantConnectionString" connectionString="Data Source=192.168.1.15;Initial Catalog=pharmaace;Persist Security Info=True;User ID=sa;Password=admin@123;Connect Timeout=25; pooling=true; Max Pool Size=500; Min Pool Size=1" providerName="System.Data.SqlClient" />
    <add name="PACEMASTEREntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.15;initial catalog=PACEMASTER;persist security info=True;user id=sa;password=admin@123;pooling=True;min pool size=1;max pool size=500;connect timeout=25;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <appSettings>
    <!-- Required by Microsoft ReportViewer control -->
	  <add key="StorageType" value="0"   />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="HostUrl" value="http://forecastdemo1.azurewebsites.net/" />-->
    <!--<add key="hosturl" value="http://forecastcorner.azurewebsites.net/" />-->
    <!--<add key="HostUrl" value="http://forecastlounge.azurewebsites.net/" />-->
    <!--<add key="hosturl" value="http://localhost:64184/" />-->
    <add key="HostUrl" value="http://forecastecosystem.azurewebsites.net/" />
    <add key="SPHostUrl" value="https://pharmaacedev.sharepoint.com" />
    <add key="SPSiteUrl" value="https://pharmaacedev.sharepoint.com/sites/PharmaDocs" />
    <!--<add key="GenericModelServerRelativeUrl" value="/sites/PharmaDocs/Shared Documents/PharmaACE Forecast Tool_Draft Version V1.13/" />-->
    <add key="ForecastModelServerRelativeUrl" value="/sites/PharmaDocs/" />
    <!--<add key="DocLibName" value="Documents_Old" />-->
    <!--<add key="PipelineVolumeFolder" value="Pipeline Volume" />-->
    <add key="ForecastFolder" value="Flat Files" />
    <add key="GenericForecastFolder" value="Generics" />
    <add key="BDLForecastFolder" value="BDL" />
    <add key="AssumptionAttachmentsFolder" value="Attachments" />
    <add key="SPTimeOut" value="600000" />
    <add key="ShowReportViewerPrompt" value="false" />
    <add key="ShowReportViewerToolbar" value="false" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="PharmaACE.ForecastApp" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=kmimgstore;AccountKey=hPDoVYEeXQl4x2/iGojiXiIHlYyVy2BzONauDej957x2nY6qKYJIeqhDHW0Z1z44gR0fq8JKKF2lpN5DjoN0ag==" />-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pacehomepagestore;AccountKey=4gu5oijeh+NUfxTZKm0zbe701e6L6zjnJttrOHMusVWsIcOtSFgktsiYWKX6MtCdTDB9H8Pk1sAYHjQO2y9sAA==" />
    <add key="ClientID" value="b2a9f7e8-5ecb-4637-91c4-1fec6fd08e2b" />
    <add key="ClientSecretKey" value="E8VIL6gNAyKWKaNN3gtFPna4PqJhrO3rySwn/Q099+k=" />
    <add key="RedirectUrl" value="http://localhost:64184/Reporting/BI" />
    <!--<add key="MailSender" value="test.user1@pharmaace.com" />
    <add key="MailSenderPassword" value="__Imagination123" />-->
    <add key="MailSender" value="tech.support@pharmaace.com" />
    <add key="MailSenderPassword" value="Ph@rm@#2015" />
    <add key="SMTPMailingHost" value="smtp.office365.com" />
    <add key="SMTPMailingPort" value="587" />
    <!-- Required by Microsoft ReportViewer control -->
    <add key="MvcReportViewer.AspxViewer" value="~/MvcReportViewer.aspx" />
    <add key="MvcReportViewer.AspxViewerJavaScript" value="~/Scripts/MvcReportViewer.js" />
    <add key="MvcReportViewer.ErrorPage" value="~/MvcReportViewerErrorPage.html" />
    <add key="MvcReportViewer.ShowErrorPage" value="True" />
    <add key="MvcReportViewer.ReportServerUrl" value="http://localhost/ReportServer_SQLEXPRESS" />
    <add key="MvcReportViewer.Username" value="" />
    <add key="MvcReportViewer.Password" value="" />
    <add key="MvcReportViewer.EncryptParameters" value="False" />
    <add key="MvcReportViewer.LocalDataSourceProvider" value="MvcReportViewer.SessionLocalDataSourceProvider, MvcReportViewer" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <!-- Required by Microsoft ReportViewer control -->
      <!-- Required by Microsoft ReportViewer control -->
      <!-- Required by Microsoft ReportViewer control -->
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <customErrors mode="RemoteOnly" />
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1500000" maxQueryStringLength="1500000" enable="true" maxUrlLength="1800000" executionTimeout="3600" />
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="525600" />
    </authentication>
    <sessionState timeout="525600" />-->
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Home/Index" timeout="525600" />-->
      <forms loginUrl="~/Home/Index" />
    </authentication>
    <sessionState timeout="1440" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="1500000" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <!-- Required by Microsoft ReportViewer control -->
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    <!--the following MUST be uncommented before publish-->
    <rewrite>
      <rules>
      <rule name="Redirect to https">
      <match url="(.*)"/>
      <conditions>
      <add input="{HTTPS}" pattern="Off"/>
      <add input="{REQUEST_METHOD}" pattern="^get$|^head$|^post$" />
      </conditions>
      <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
      </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>