  .sidebar-collapse .nav li a {
        padding: 2px 4px 5px 5px;
        color:#fff;
        display:block;
        padding-top:5px !important;
        font-size:13.5px;
    }
    .diesmenuseconitem:before{ top:12px !important;}
    #content-box{ min-height:448px; }
    .nav .mCSB_container > li {
        border-bottom: 1px solid rgba(107, 108, 109, 0.19);
    }
   .nav .mCSB_container li a:hover,
   .nav .mCSB_container a:focus {
        background: #c90000;
        outline: 0;
    }
   .nav .mCSB_container li > a:hover::after {
   /* border-color: transparent transparent transparent #c90000;*/
    border-width: 19px 22px;
    content: "";
  border-style:none !important;
    width:1px !important;
     height:32px;
    position: absolute;
    right: -44px;
    top: 0;
}
    .nav .mCSB_container li > a.active-menu::after, .nav .mCSB_container li > a.active-menu::after {
    /*border-color: transparent transparent transparent #c90000;*/
    border-style: solid;
    border-width: 19px 22px;
    content: "";
    height: auto;
    position: absolute;
    right: -44px;
    top: 0;
    width: auto;
}
    .nav .mCSB_container .nav-second-level li a{ padding-left:26px !important;}
    .nav .mCSB_container li .nav-second-level a:first-child{display:none;}
     .nav .mCSB_container .nav-second-level > li > a::after, .nav-third-level > li > a::after {
    left: 10px;
   }
     .nav .mCSB_container .nav-second-level > li > a::before, .nav-third-level > li > a::before {
    left: 10px;
    top:15px;
}
     .dmDiv1{overflow:hidden; margin-top:15px;}
     /*
    #tab-scroller #botbar {
 overflow: auto;
 height: 440px;
}
*/