  #overlaysigninId{position:absolute;background-color: #888;opacity: 0.65;width:100%;height:100%;top: 0px;/* z-index: 99999999999; */}
       
		ul { margin:0px; padding:0px;  }
		#list1{ list-style-type:none; margin:0px; }
		@media only screen and (min-width: 1024px) {
   
  #list1 li{ float:left;  width:25%; height:240px; }
        }
		#list1 li div:first-child { width:100%; height:230px; border:solid 0px black;  text-align:center;  }
		.placeHolder div { background-color:white !important; border:dashed 0px gray !important; }
        .transition{transform:scale(1.02)!important;-webkit-transform:scale(1.02)!important;-moz-transform:scale(1.02)!important;-o-transform:scale(1.02)!important;}
.hiDiv1{transform: rotate(-45deg); color: #fff;}
.hiDiv2{text-align: center}
.hiDiv3, .hiDiv11, .hiDiv6, .hiDiv9, .hiDiv610, .hiDiv11, .hiDiv7{float: right !important;}
.hiDiv4{width:480px;}
.hiDiv5{margin: 0px auto; float: none;}
.hiDiv7{margin-right:10px;}
.hiDiv8{color: red;}

